body {
  background-color: #eee6d9;
}

h1 {
  font-family: "Merienda", serif;
  font-size: 40px;
}

#CampoTexto {
  font-family: "Merienda", serif;
  font-size: 15px;
  color: #7c766cff;
  background-color: #fdf9f1ff;
  border: 2px solid;
  border-color: #fdf9f1ff;
  border-radius: 30px;
}

#TopoDaPag {
  margin: 20px;
  text-align: center;
  align-items: center;
  background-color: #f5efe4ff;
  border: 8px solid;
  border-color: #f5efe4ff;
  border-radius: 15px;
}

#Login {
  margin: 20px;
  text-align: center;
  align-items: center;
  background-color: #f5efe4ff;
  border: 8px solid;
  border-color: #f5efe4ff;
  border-radius: 15px;
  font-family: "Merienda", serif;
  font-size: 15px;
  width: 20%;
}

#Botão {
  margin: 20px;
  text-align: center;
  align-items: center;
  color: #f5efe4ff;
  background-color: #bc002d;
  border: 8px solid;
  border-color: #bc002d;
  border-radius: 15px;
  font-family: "Merienda", serif;
  font-size: 15px;
  width: 10%;
}

#Botão:hover {
  background-color: #8c001f;
  border-color: #8c001f;
  cursor: pointer;
  background-image: url("");
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20%;
}
